<h2>Lista de postagens</h2>
<hr>
<a href="/admin/postagens/add">
    <button class="btn btn-success">Nova postagem</button>
</a>
{{#each postagem}}
<div class="card mt-4">
    <div class="card-body">
        <h4>{{titulo}}</h4>
        <p>Descricao: {{descricao}}</p>
        <small>Data: {{data}}</small>
        <br>
        <small>Categoria: {{categoria.nome}}</small>
        <br>
        <a href="/admin/postagens/edit/{{_id}}">
            <button class="btn btn-success mt-3">Editar</button>
        </a>
    </div>
</div>
    {{else}}
    <h2>Nenhuma postagem registrada</h2>
{{/each}}